.results {
	-webkit-column-fill: auto;
	-moz-column-fill: auto;
	column-fill: auto;
	@include column-count(4);
	@include column-gap(10px);

	@media only screen and (max-width: 870px) {
		@include column-count(3);
	}

	@media only screen and (max-width: 720px) {
		@include column-count(2);
	}

	@media only screen and (max-width: 480px) {
		@include column-count(1);
	}

	.result {
		display: inline-block;
		background: #efefef;
		margin: 0 2px 15px;
		@include column-break-inside(avoid);
		padding: 15px;
		opacity: 1;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1.3em;
	}
}