/* compass stuff */
/* line 17, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* custom mixins */
/* general layout */
/* line 12, ../sass/screen.scss */
.container {
  width: 95%;
  max-width: 1024px;
  margin: 0px auto;
}

/* partials */
/* line 3, ../sass/partials/_header.scss */
.top-header .search-part {
  background-color: #02B370;
  height: 90px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
/* line 38, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.top-header .search-part:after {
  content: "";
  display: table;
  clear: both;
}
/* line 10, ../sass/partials/_header.scss */
.top-header .search-part .logo {
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 120px;
  height: 45px;
  background-image: url(../images/logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 23px;
  margin-right: 30px;
}
/* line 21, ../sass/partials/_header.scss */
.top-header .search-part .logo a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 28, ../sass/partials/_header.scss */
.top-header .search-part .search {
  float: right;
  display: block;
  height: 45px;
  margin-top: 23px;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -ms-calc(100% - 150px);
  width: -o-calc(100% - 150px);
  width: calc(100% - 150px);
  *zoom: 1;
}
/* line 38, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.top-header .search-part .search:after {
  content: "";
  display: table;
  clear: both;
}
/* line 36, ../sass/partials/_header.scss */
.top-header .search-part .search form {
  height: 100%;
}
/* line 40, ../sass/partials/_header.scss */
.top-header .search-part .search input[type=text] {
  border: 0px;
  height: 43px;
  background-color: #02B370;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -ms-calc(100% - 150px);
  width: -o-calc(100% - 150px);
  width: calc(100% - 150px);
  float: left;
  display: block;
  text-align: center;
  font-size: 2em;
  color: white;
}
/* line 2, ../sass/partials/_placeholderText.scss */
.top-header .search-part .search input[type=text].placeholder {
  color: #018f59;
}
/* line 3, ../sass/partials/_placeholderText.scss */
.top-header .search-part .search input[type=text]:-moz-placeholder {
  color: #018f59;
}
/* line 4, ../sass/partials/_placeholderText.scss */
.top-header .search-part .search input[type=text]::-moz-placeholder {
  color: #018f59;
}
/* line 5, ../sass/partials/_placeholderText.scss */
.top-header .search-part .search input[type=text]:-ms-input-placeholder {
  color: #018f59;
}
/* line 6, ../sass/partials/_placeholderText.scss */
.top-header .search-part .search input[type=text]::-webkit-input-placeholder {
  color: #018f59;
}
/* line 59, ../sass/partials/_header.scss */
.top-header .search-part .search input[type=text]:focus {
  outline: none;
}
/* line 64, ../sass/partials/_header.scss */
.top-header .search-part .search input[type=submit] {
  display: block;
  float: left;
  width: 120px;
  margin-left: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-color: #02B370;
  background-position: right center;
  background-size: 40px;
  border: none;
  height: 100%;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 82, ../sass/partials/_header.scss */
.top-header .date-part {
  background-color: #068A57;
  height: 75px;
}
/* line 86, ../sass/partials/_header.scss */
.top-header .date-part .container {
  *zoom: 1;
  max-width: 430px;
  margin: 0 auto;
  height: 100%;
}
/* line 38, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.top-header .date-part .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 92, ../sass/partials/_header.scss */
.top-header .date-part .container a, .top-header .date-part .container span {
  display: block;
  height: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
}
/* line 100, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-prev, .top-header .date-part .container .btn-next {
  width: 35px;
  background-color: #02B370;
  height: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 22px;
  position: relative;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 110, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-prev > span, .top-header .date-part .container .btn-next > span {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
/* line 114, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-prev div, .top-header .date-part .container .btn-next div {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 120, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-prev div {
  position: absolute;
  top: 11px;
  left: 9px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent white transparent transparent;
}
/* line 127, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-prev:hover div {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 13.0px 7.5px 0;
  border-color: transparent #80d9b7 transparent transparent;
}
/* line 134, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-next div {
  position: absolute;
  top: 11px;
  left: 13px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent white;
}
/* line 141, ../sass/partials/_header.scss */
.top-header .date-part .container .btn-next:hover div {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 0 7.5px 13.0px;
  border-color: transparent transparent transparent #80d9b7;
}
/* line 147, ../sass/partials/_header.scss */
.top-header .date-part .container > span {
  width: -webkit-calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  width: -ms-calc(100% - 70px);
  width: -o-calc(100% - 70px);
  width: calc(100% - 70px);
  text-align: center;
  font-size: 1.4em;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.08em;
}

/* line 1, ../sass/partials/_filter.scss */
.filter {
  max-width: 700px;
  width: 95%;
  margin: 50px auto;
}
/* line 6, ../sass/partials/_filter.scss */
.filter ul {
  *zoom: 1;
  position: relative;
}
/* line 38, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.filter ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 9, ../sass/partials/_filter.scss */
.filter ul li {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  height: 35px;
}
/* line 16, ../sass/partials/_filter.scss */
.filter ul li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  background-color: #02B370;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-decoration: none;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.08em;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
/* line 32, ../sass/partials/_filter.scss */
.filter ul li a:hover {
  background-color: #41c693;
}
/* line 36, ../sass/partials/_filter.scss */
.filter ul li a.off {
  background-color: #FFF;
  color: #02B370;
}
/* line 42, ../sass/partials/_filter.scss */
.filter ul li:last-child {
  position: absolute;
  top: 6px;
  right: -25px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 0 !important;
}
/* line 49, ../sass/partials/_filter.scss */
.filter ul li:last-child a {
  line-height: 16px !important;
}

/* line 1, ../sass/partials/_geo.scss */
.geo-details {
  *zoom: 1;
  margin-bottom: 30px;
}
/* line 38, ../../../.rvm/rubies/ruby-2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.geo-details:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/partials/_geo.scss */
.geo-details .map, .geo-details .time, .geo-details .weather {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%;
  float: left;
  height: 200px;
  background-color: #eaeaea;
}
/* line 13, ../sass/partials/_geo.scss */
.geo-details .map {
  margin-right: 2%;
}
/* line 17, ../sass/partials/_geo.scss */
.geo-details .time {
  margin-right: 2%;
}
